.operation-area {
  position: relative;
}

.operation-image {
  display: flex;
  align-items: baseline;
  width: 500px;
  margin: 12px;

  span {
    margin-right: 8px;
  }
}

.operation-pen {
  display: flex;
  align-items: baseline;
  width: 500px;
  margin: 12px;

  label {
    margin-right: 8px; 
  }
}


.operation-line {
  display: flex;
  margin: 12px;
}

.operation-color {
  display: flex;
  margin: 12px;

  span {
    margin-right: 12px;
  }
}

.operation-btn {
  display: flex;
  margin: 12px;

  button {
    margin-right: 12px;
  }
}